version: "3.7"
services:
  database:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: $postgres_user
      POSTGRES_PASSWORD: $postgres_password
      POSTGRES_DB: $postgres_dbname
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data
  server:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      - database
    networks:
      - default
    ports:
      - "8080:8000"
volumes:
  data:
